{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PirogrammerCardGame</title>
    <link rel="stylesheet" href="{% static 'cardGame/style.css' %}" />
  </head>
  <body>
    <main>
      <div class="header">
        <a href="" class="logo">Pirogramming Card Game</a>
        <ol class="navbar">
          {% if user.is_authenticated and user_data %}
          <li><a>게임하기</a></li>
          <li><a>랭킹보기</a></li>
          <li><a>로그아웃</a></li>
          {% else %}
          <li><a>로그인</a></li>
          <li><a>회원가입</a></li>
          {% endif %}
        </ol>
      </div>

      <div class="content">
        {# 로딩 될 부분 #} {% block content %} {% endblock %}
      </div>

      <div class="footer">
        <p>@피로그래밍 23기 카드게임 3조</p>
      </div>
    </main>
  </body>
</html>
